*.mat
*.pyc
*.txt
*.ini
backup/DataSetReaders/CARS_dataset.py
backup/DataSetReaders/CUAVE_dataset.py
backup/DataSetReaders/DRUGS_dataset.py
backup/DataSetReaders/FISH_dataset.py
backup/DataSetReaders/GUY_dataset.py
backup/DataSetReaders/Helpers/CARS_test.py
backup/DataSetReaders/Helpers/CUAVE_Samplers.py
backup/DataSetReaders/Helpers/DRUGS_helper.py
backup/DataSetReaders/Helpers/FISH_helper.py
backup/DataSetReaders/Helpers/JAPAN_Help.py
backup/DataSetReaders/Helpers/Whiten_test.py
backup/DataSetReaders/Helpers/Write_dataset.py
backup/DataSetReaders/Helpers/XRBM_pickle.py
backup/DataSetReaders/Helpers/__init__.py
backup/DataSetReaders/Helpers/mnist_split.py
backup/DataSetReaders/JAPAN_dataset.py
backup/DataSetReaders/MNIST_dataset.py
backup/DataSetReaders/RAND_dataset.py
backup/DataSetReaders/XRBM_dataset.py
backup/DataSetReaders/__init__.py
backup/DataSetReaders/dataset_base.py
backup/Layers/__init__.py
backup/Layers/hidden_layer.py
backup/Layers/symmetric_dropout_hidden_layer.py
backup/Layers/symmetric_hidden_layer.py
backup/MISC/__init__.py
backup/MISC/container.py
backup/MISC/enum.py
backup/MISC/logger.py
backup/MISC/singleton.py
backup/MISC/utils.py
backup/MISC/whiten_transform.py
backup/Regularizations/__init__.py
backup/Regularizations/pairwise_correlation_regularization.py
backup/Regularizations/reconstruction_regularization.py
backup/Regularizations/regularization_base.py
backup/Regularizations/weight_decay_regularization.py
backup/Regularizations/weight_orthonormal_regularization.py
backup/Testers/__init__.py
backup/Testers/cca_correlation_tester.py
backup/Testers/reconstruction_tester.py
backup/Testers/tester_base.py
backup/Testers/trace_correlation_tester.py
backup/TrainingStrategy/__init__.py
backup/TrainingStrategy/iterative_dropout_training_strategy.py
backup/TrainingStrategy/iterative_training_nonsequential_stratagy.py
backup/TrainingStrategy/iterative_training_strategy.py
backup/TrainingStrategy/training_strategy.py
backup/Transformers/__init__.py
backup/Transformers/double_encoder_transformer.py
backup/Transformers/gradient_transformer.py
backup/Transformers/identity_transform.py
backup/Transformers/transformer_base.py
backup/classifier.py
backup/configuration.py
backup/correlated_stacked_double_encoder.py
backup/correlation_optimizer.py
backup/dcca.py
backup/dcca_hyper_params.py
backup/double_encoder.py
backup/double_encoder_iterative.py
backup/double_encoder_iterative_dropout.py
backup/double_encoder_iterative_nonsequential.py
backup/hyper_parameters.py
backup/match_classifier.py
backup/rcca.py
backup/run_double_encoder.py
backup/softSigmoid.py
backup/stacked_auto_encoder_2.py
backup/stacked_double_encoder.py
backup/trainer.py
*.pkl
*.p
*.gz
*.dat
*.gitignore
*.md
*.cc
*.mexglx
*.o
*.sh
*.html
*.ppm
*.m#
*.jpg
*.csv
*.zip
*.fas
*.png
*.pickle
.idea/workspace.xml
CorrNet-master/mnistExample/__init__.py
CorrNet-master/mnistExample/create_data.py
CorrNet-master/mnistExample/evaluate.py
CorrNet-master/mnistExample/project_corrnet.py
CorrNet-master/mnistExample/train_corrnet.py
Datasets/CARS/vid/Contents.m
Datasets/CARS/vid/cid/Contents.m
Datasets/CARS/vid/cid/c_compLLR.m
Datasets/CARS/vid/cid/c_compLLRd.m
Datasets/CARS/vid/cid/c_eval.m
Datasets/CARS/vid/common/@frameIo/Contents.m
Datasets/CARS/vid/common/@frameIo/addFiles.m
Datasets/CARS/vid/common/@frameIo/addSpec.m
Datasets/CARS/vid/common/@frameIo/addSubSeq.m
Datasets/CARS/vid/common/@frameIo/dispSub.m
Datasets/CARS/vid/common/@frameIo/display.m
Datasets/CARS/vid/common/@frameIo/frameIo.m
Datasets/CARS/vid/common/@frameIo/getCacheDir.m
Datasets/CARS/vid/common/@frameIo/getIm.m
Datasets/CARS/vid/common/@frameIo/getImInfo.m
Datasets/CARS/vid/common/@frameIo/getName.m
Datasets/CARS/vid/common/@frameIo/getParams.m
Datasets/CARS/vid/common/@frameIo/getSpec.m
Datasets/CARS/vid/common/@frameIo/getSubSeqNames.m
Datasets/CARS/vid/common/@frameIo/length.m
Datasets/CARS/vid/common/@frameIo/nextIm.m
Datasets/CARS/vid/common/@frameIo/reloadSpec.m
Datasets/CARS/vid/common/@frameIo/setCache.m
Datasets/CARS/vid/common/@frameIo/setCacheDir.m
Datasets/CARS/vid/common/@frameIo/setIm.m
Datasets/CARS/vid/common/@frameIo/setParams.m
Datasets/CARS/vid/common/@frameIo/subsref.m
Datasets/CARS/vid/common/@frameIo/useCache.m
Datasets/CARS/vid/common/Contents.m
Datasets/CARS/vid/common/algo/Contents.m
Datasets/CARS/vid/common/algo/hungarian.m
Datasets/CARS/vid/common/cache/Contents.m
Datasets/CARS/vid/common/cache/cacheCheck.m
Datasets/CARS/vid/common/cache/cacheName.m
Datasets/CARS/vid/common/cache/cacheWrap.m
Datasets/CARS/vid/common/cache/cacheWrapCheck.m
Datasets/CARS/vid/common/cache/checkCache.m
Datasets/CARS/vid/common/cache/clearCache.m
Datasets/CARS/vid/common/cache/findCacheDir.m
Datasets/CARS/vid/common/cache/lsCache.m
Datasets/CARS/vid/common/cache/readCache.m
Datasets/CARS/vid/common/cache/writeCache.m
Datasets/CARS/vid/common/dataanal/Contents.m
Datasets/CARS/vid/common/dataanal/binMoments.m
Datasets/CARS/vid/common/dataanal/histc2.m
Datasets/CARS/vid/common/dataanal/histc2moments.m
Datasets/CARS/vid/common/dataanal/sumdim.m
Datasets/CARS/vid/common/fileIo/Contents.m
Datasets/CARS/vid/common/fileIo/fileRead.m
Datasets/CARS/vid/common/fileIo/fileWrite.m
Datasets/CARS/vid/common/fileIo/getAviFrames.m
Datasets/CARS/vid/common/filter/Contents.m
Datasets/CARS/vid/common/filter/blur.m
Datasets/CARS/vid/common/filter/filterImage.m
Datasets/CARS/vid/common/filter/halfWaveRectChannels.m
Datasets/CARS/vid/common/filter/makeFilterBank.m
Datasets/CARS/vid/common/filter/makeGFilter.m
Datasets/CARS/vid/common/filter/make_filterbank_12.m
Datasets/CARS/vid/common/filter/oddFilterPyr.m
Datasets/CARS/vid/common/filter/pyramid.m
Datasets/CARS/vid/common/filter/reduce.m
Datasets/CARS/vid/common/filter/steerable/Contents.m
Datasets/CARS/vid/common/filter/steerable/fim2tefim.m
Datasets/CARS/vid/common/filter/steerable/showFiltered.m
Datasets/CARS/vid/common/filter/steerable/showTefim.m
Datasets/CARS/vid/common/filter/steerable/steer.m
Datasets/CARS/vid/common/filter/steerable/steerChannels.m
Datasets/CARS/vid/common/filter/steerable/steerFilterPyr.m
Datasets/CARS/vid/common/filter/steerable/steer_max.m
Datasets/CARS/vid/common/filter/steerable/steerable_edges.m
Datasets/CARS/vid/common/filter/steerable/steerable_gauss.m
Datasets/CARS/vid/common/frames/Contents.m
Datasets/CARS/vid/common/frames/makeBGim.m
Datasets/CARS/vid/common/frames/oldcacheWrap.m
Datasets/CARS/vid/common/frames/readCache.m
Datasets/CARS/vid/common/frames/showims.m
Datasets/CARS/vid/common/frames/testOnFrames.m
Datasets/CARS/vid/common/frames/writeCache.m
Datasets/CARS/vid/common/gabor/Contents.m
Datasets/CARS/vid/common/gabor/conv2b.m
Datasets/CARS/vid/common/gabor/gaborconvolve.m
Datasets/CARS/vid/common/gabor/gabsplev.m
Datasets/CARS/vid/common/gabor/gabsppyr.m
Datasets/CARS/vid/common/gabor/invgab.m
Datasets/CARS/vid/common/gabor/masks1d.m
Datasets/CARS/vid/common/image/Contents.m
Datasets/CARS/vid/common/image/clearEdges.m
Datasets/CARS/vid/common/image/enlarge.m
Datasets/CARS/vid/common/image/findBoundRect.m
Datasets/CARS/vid/common/image/fmontage.m
Datasets/CARS/vid/common/image/imDataType.m
Datasets/CARS/vid/common/image/imDistFromColor.m
Datasets/CARS/vid/common/image/imFileRead.m
Datasets/CARS/vid/common/image/imagegr.m
Datasets/CARS/vid/common/image/imfliplr.m
Datasets/CARS/vid/common/image/imflipud.m
Datasets/CARS/vid/common/image/makeImDataStruct.m
Datasets/CARS/vid/common/image/makefgmask.m
Datasets/CARS/vid/common/image/modeColor.m
Datasets/CARS/vid/common/image/myimread.m
Datasets/CARS/vid/common/image/showBoundRect.m
Datasets/CARS/vid/common/image/showChannels.m
Datasets/CARS/vid/common/image/showImd.m
Datasets/CARS/vid/common/image/validRectangle.m
Datasets/CARS/vid/common/image/zeroImBorder.m
Datasets/CARS/vid/common/imagegui/Contents.m
Datasets/CARS/vid/common/imagegui/alexmarker.m
Datasets/CARS/vid/common/imagegui/computePt2LabelDist.m
Datasets/CARS/vid/common/imagegui/faceLabels.m
Datasets/CARS/vid/common/imagegui/getLabelIndForFrames.m
Datasets/CARS/vid/common/imagegui/imagexy.m
Datasets/CARS/vid/common/imagegui/labelAllPoints.m
Datasets/CARS/vid/common/imagegui/labelPoints.m
Datasets/CARS/vid/common/imagegui/transferLabels.m
Datasets/CARS/vid/common/langext/Contents.m
Datasets/CARS/vid/common/langext/array2cell.m
Datasets/CARS/vid/common/langext/assert.m
Datasets/CARS/vid/common/langext/bound.m
Datasets/CARS/vid/common/langext/dplus.m
Datasets/CARS/vid/common/langext/dtimes.m
Datasets/CARS/vid/common/langext/findSubStr.m
Datasets/CARS/vid/common/langext/header.m
Datasets/CARS/vid/common/langext/makeContents.m
Datasets/CARS/vid/common/langext/makeParams.m
Datasets/CARS/vid/common/langext/makecol.m
Datasets/CARS/vid/common/langext/makerow.m
Datasets/CARS/vid/common/langext/mapfunc.m
Datasets/CARS/vid/common/langext/maybesparse.m
Datasets/CARS/vid/common/langext/mergeStructs.m
Datasets/CARS/vid/common/langext/repiperm.m
Datasets/CARS/vid/common/langext/repperm.m
Datasets/CARS/vid/common/langext/roundto.m
Datasets/CARS/vid/common/langext/setStructDefaults.m
Datasets/CARS/vid/common/langext/size1.m
Datasets/CARS/vid/common/langext/structArray2Struct.m
Datasets/CARS/vid/common/langext/warnif.m
Datasets/CARS/vid/common/langext/warnifnot.m
Datasets/CARS/vid/common/matfiles/Contents.m
Datasets/CARS/vid/common/metrics/Contents.m
Datasets/CARS/vid/common/metrics/chisquare.m
Datasets/CARS/vid/common/pnm/Contents.m
Datasets/CARS/vid/common/pnm/Readme.m
Datasets/CARS/vid/common/pnm/cmsort.m
Datasets/CARS/vid/common/pnm/fastpgmwrite.m
Datasets/CARS/vid/common/pnm/im2ind.m
Datasets/CARS/vid/common/pnm/im2indd.m
Datasets/CARS/vid/common/pnm/im2indr.m
Datasets/CARS/vid/common/pnm/im2inds.m
Datasets/CARS/vid/common/pnm/pbmread.m
Datasets/CARS/vid/common/pnm/pbmwrite.m
Datasets/CARS/vid/common/pnm/pfmread.m
Datasets/CARS/vid/common/pnm/pgmread.m
Datasets/CARS/vid/common/pnm/pgmread1.m
Datasets/CARS/vid/common/pnm/pgmwrite.m
Datasets/CARS/vid/common/pnm/pnmdemo.m
Datasets/CARS/vid/common/pnm/pnmgeti.m
Datasets/CARS/vid/common/pnm/pnmmagic.m
Datasets/CARS/vid/common/pnm/pnmtest.m
Datasets/CARS/vid/common/pnm/ppmread.m
Datasets/CARS/vid/common/pnm/ppmwrite.m
Datasets/CARS/vid/common/pnm/xbmread.m
Datasets/CARS/vid/common/pnm/xbmwrite.m
Datasets/CARS/vid/common/random/Contents.m
Datasets/CARS/vid/common/sparse/Contents.m
Datasets/CARS/vid/common/stat/Contents.m
Datasets/CARS/vid/common/stat/distchck.m
Datasets/CARS/vid/common/stat/gampdf.m
Datasets/CARS/vid/common/stat/gaussDeriv.m
Datasets/CARS/vid/common/stat/gaussian.m
Datasets/CARS/vid/common/stat/joint2cond.m
Datasets/CARS/vid/common/stat/lars.m
Datasets/CARS/vid/common/stat/nthSmallest.m
Datasets/CARS/vid/common/stat/sampleEntropy.m
Datasets/CARS/vid/common/stat/sigmoid.m
Datasets/CARS/vid/common/stat/vasicekExact.m
Datasets/CARS/vid/common/uitools/Contents.m
Datasets/CARS/vid/common/uitools/addLegend.m
Datasets/CARS/vid/common/uitools/ctext.m
Datasets/CARS/vid/common/uitools/expParamSetup.m
Datasets/CARS/vid/common/uitools/letter2color.m
Datasets/CARS/vid/common/uitools/makeHTMLPage.m
Datasets/CARS/vid/common/uitools/makeMovie.m
Datasets/CARS/vid/common/uitools/mdisp.m
Datasets/CARS/vid/common/uitools/mlegend.m
Datasets/CARS/vid/common/uitools/mplot.m
Datasets/CARS/vid/common/uitools/mprint.m
Datasets/CARS/vid/common/uitools/mtitle.m
Datasets/CARS/vid/common/uitools/mxlabel.m
Datasets/CARS/vid/common/uitools/mylabel.m
Datasets/CARS/vid/common/uitools/parseFignum.m
Datasets/CARS/vid/common/uitools/plotLabeled.m
Datasets/CARS/vid/common/uitools/reprint.m
Datasets/CARS/vid/common/uitools/subplot1.m
Datasets/CARS/vid/common/uitools/toColor.m
Datasets/CARS/vid/common/uitools/tostring.m
Datasets/CARS/vid/common/vistool/Contents.m
Datasets/CARS/vid/common/vistool/imNbr.m
Datasets/CARS/vid/common/vistool/localmax.m
Datasets/CARS/vid/common/vistool/makeDXDYhists.m
Datasets/CARS/vid/common/vistool/makeNbr.m
Datasets/CARS/vid/common/vistool/makeRot.m
Datasets/CARS/vid/common/vistool/nonMaxSuppressForSteer.m
Datasets/CARS/vid/common/vistool/pickFilteredPts.m
Datasets/CARS/vid/common/vistool/quadpair.m
Datasets/CARS/vid/common/vistool/twoImNbr.m
Datasets/CARS/vid/common/vistool/vnframes.m
Datasets/CARS/vid/common/vistool/xcorr2.m
Datasets/CARS/vid/doTest.m
Datasets/CARS/vid/doTrain.m
Datasets/CARS/vid/guis/Contents.m
Datasets/CARS/vid/guis/compPR.m
Datasets/CARS/vid/guis/drawCidLevel.m
Datasets/CARS/vid/guis/drawPRCurve.m
Datasets/CARS/vid/guis/initVidParams.m
Datasets/CARS/vid/hf/Contents.m
Datasets/CARS/vid/hf/hf_compAll.m
Datasets/CARS/vid/hf/hf_compAllCandidates.m
Datasets/CARS/vid/hf/hf_compBase.m
Datasets/CARS/vid/hf/hf_compDerived.m
Datasets/CARS/vid/hf/hf_compRaw.m
Datasets/CARS/vid/hf/hf_compSelect.m
Datasets/CARS/vid/hf/hf_normalize.m
Datasets/CARS/vid/hf/hf_select.m
Datasets/CARS/vid/hid/Contents.m
Datasets/CARS/vid/hid/h_estDistributionsFromHF.m
Datasets/CARS/vid/hid/h_findNextPatch.m
Datasets/CARS/vid/hid/h_generateCid.m
Datasets/CARS/vid/mi/Contents.m
Datasets/CARS/vid/mi/mi_compMutInfoFromD.m
Datasets/CARS/vid/mi/mi_compRhoFromHFdiff.m
Datasets/CARS/vid/mi/mi_gammaMI.m
Datasets/CARS/vid/mi/mi_gammaMIlut.m
Datasets/CARS/vid/pmatch/Contents.m
Datasets/CARS/vid/pmatch/id_matchPatch.m
Datasets/CARS/vid/startVID.m
Datasets/CARS/vid/tid/Contents.m
Datasets/CARS/vid/tid/t_fitGLM.m
Datasets/CARS/vid/tid/t_matchAllPatches.m
Datasets/CARS/vid/tid/t_trainGLM.m
Datasets/CARS/vid/tid/t_trainHid.m
Datasets/CARS/vid/tid/t_trainPairs.m
Datasets/CARS/vid/tid/t_trainStoppingThresh.m
Datasets/CARS/vid/util/Contents.m
Datasets/CARS/vid/util/findClosestPyrLevel.m
Datasets/CARS/vid/util/id_cropPatch.m
Datasets/CARS/vid/util/id_initParams.m
Datasets/CARS/vid/util/id_pickCandiatePatches.m
Datasets/CARS/vid/util/id_prepIm.m
Datasets/CARS/vid/util/id_prepImCache.m
Datasets/CARS/vid/util/id_readCache.m
Datasets/CARS/vid/util/id_writeCache.m
Datasets/FISH/cook_pasta.m
Datasets/FISH/create_data.m
