*.mat
*.pyc
*.txt
*.ini
backup/DataSetReaders/CARS_dataset.py
backup/DataSetReaders/CUAVE_dataset.py
backup/DataSetReaders/DRUGS_dataset.py
backup/DataSetReaders/FISH_dataset.py
backup/DataSetReaders/GUY_dataset.py
backup/DataSetReaders/Helpers/CARS_test.py
backup/DataSetReaders/Helpers/CUAVE_Samplers.py
backup/DataSetReaders/Helpers/DRUGS_helper.py
backup/DataSetReaders/Helpers/FISH_helper.py
backup/DataSetReaders/Helpers/JAPAN_Help.py
backup/DataSetReaders/Helpers/Whiten_test.py
backup/DataSetReaders/Helpers/Write_dataset.py
backup/DataSetReaders/Helpers/XRBM_pickle.py
backup/DataSetReaders/Helpers/__init__.py
backup/DataSetReaders/Helpers/mnist_split.py
backup/DataSetReaders/JAPAN_dataset.py
backup/DataSetReaders/MNIST_dataset.py
backup/DataSetReaders/RAND_dataset.py
backup/DataSetReaders/XRBM_dataset.py
backup/DataSetReaders/__init__.py
backup/DataSetReaders/dataset_base.py
backup/Layers/__init__.py
backup/Layers/hidden_layer.py
backup/Layers/symmetric_dropout_hidden_layer.py
backup/Layers/symmetric_hidden_layer.py
backup/MISC/__init__.py
backup/MISC/container.py
backup/MISC/enum.py
backup/MISC/logger.py
backup/MISC/singleton.py
backup/MISC/utils.py
backup/MISC/whiten_transform.py
backup/Regularizations/__init__.py
backup/Regularizations/pairwise_correlation_regularization.py
backup/Regularizations/reconstruction_regularization.py
backup/Regularizations/regularization_base.py
backup/Regularizations/weight_decay_regularization.py
backup/Regularizations/weight_orthonormal_regularization.py
backup/Testers/__init__.py
backup/Testers/cca_correlation_tester.py
backup/Testers/reconstruction_tester.py
backup/Testers/tester_base.py
backup/Testers/trace_correlation_tester.py
backup/TrainingStrategy/__init__.py
backup/TrainingStrategy/iterative_dropout_training_strategy.py
backup/TrainingStrategy/iterative_training_nonsequential_stratagy.py
backup/TrainingStrategy/iterative_training_strategy.py
backup/TrainingStrategy/training_strategy.py
backup/Transformers/__init__.py
backup/Transformers/double_encoder_transformer.py
backup/Transformers/gradient_transformer.py
backup/Transformers/identity_transform.py
backup/Transformers/transformer_base.py
backup/classifier.py
backup/configuration.py
backup/correlated_stacked_double_encoder.py
backup/correlation_optimizer.py
backup/dcca.py
backup/dcca_hyper_params.py
backup/double_encoder.py
backup/double_encoder_iterative.py
backup/double_encoder_iterative_dropout.py
backup/double_encoder_iterative_nonsequential.py
backup/hyper_parameters.py
backup/match_classifier.py
backup/rcca.py
backup/run_double_encoder.py
backup/softSigmoid.py
backup/stacked_auto_encoder_2.py
backup/stacked_double_encoder.py
backup/trainer.py
*.pkl
*.p
*.gz
*.dat
*.gitignore
*.md
*.cc
*.mexglx
*.o
*.sh
*.html
*.ppm
*.m#
*.jpg
*.csv
*.zip
*.fas
*.png
*.pickle
